<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLOWCLICK - Carrito</title>
    <link rel="stylesheet" href="../../public/css/carrito.css">
</head>

<body>

    <div class="header-fijo">
        <header class="encabezado">
            <div class="header-content">
                <img src="../../public/img/logo de GLOWCLICK NUEVO.png" alt="Logo de GLOWCLICK" class="logo-header">
                <h1>GLOWCLICK BELLEZA QUE BRILLA CONTIGO</h1>
                <div class="spacer"></div>
            </div>
        </header>

        <nav class="navbar">
            <ul class="nav-menu" id="menu">
                <li><a href="inicio.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="categorias.html">Categorías</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="carrito.html">Carrito</a></li>
                <li><a href="iniciarsesion.html">Iniciar sesión</a></li>
            </ul>
        </nav>
    </div>

    <main class="contenido-principal">
        <section class="caja">
            <h2>🛒 CARRITO</h2>
            <p>Tu compra en un solo lugar</p>
            <p>En el carrito de GLOWCLICK podrás revisar los productos que deseas comprar antes de finalizar tu pedido.</p>
            <p>Podrás consultar la cantidad, precio y total de los productos, modificar las cantidades o eliminar aquellos que ya no quieras. Así tendrás un mejor control de tu compra y podrás realizar tu pedido de forma sencilla, cómoda y segura.</p>
            <p>🛍️ Agrega tus productos y revisa tu pedido antes de comprar.</p>

            <div class="productos-container">
            <ul class="lista-productos">
            <img class="img" src="../../public/img/carrito.jpg" alt="Labial" style="transition: transform 0.3s; cursor: pointer;"
            onmouseover="this.style.transform='scale(1.3)'"
            onmouseout="this.style.transform='scale(1)'">
        </section>
    </main>

    <footer class="pie">
        <p>&copy; 2026 GLOWCLICK - Todos los derechos reservados.</p>
    </footer>

</body>

</html>