<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLOWCLICK - Inicio</title>
    <link rel="stylesheet" href="../../public/css/inicio.css">
</head>

<body>

    <div class="header-fijo">
        <header class="encabezado">
            <div class="header-content">
                <img src="../../public/img/logo de GLOWCLICK NUEVO.png" alt="Logo de GLOWCLICK" class="logo-header">
                <h1>GLOWCLICK BELLEZA QUE BRILLA CONTIGO</h1>
                <div class="spacer"></div>
            </div>
        </header>

        <nav class="navbar">
            <ul class="nav-menu" id="menu">
                <li><a href="inicio.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="categorias.html">Categorías</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="carrito.html">Carrito</a></li>
                <li><a href="iniciarsesion.html">Iniciar sesión</a></li>
            </ul>
        </nav>
    </div>

    <main class="contenido-principal">
        <section class="caja">
            <h2>Bienvenidos a GLOWCLICK</h2>
            <p>Tu tienda virtual de productos de belleza y cosméticos. Encontrarás productos de alta calidad, diferentes categorías y opciones para resaltar tu belleza y estilo.</p>
        </section>
    </main>

    <footer class="pie">
        <p>&copy; 2026 GLOWCLICK - Todos los derechos reservados.</p>
    </footer>

</body>

</html>