<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLOWCLICK - Nosotros</title>
    <link rel="stylesheet" href="../../public/css/nosotros.css">
</head>

<body>

    <div class="header-fijo">
        <header class="encabezado">
            <div class="header-content">
                <img src="../../public/img/logo de GLOWCLICK NUEVO.png" alt="Logo de GLOWCLICK" class="logo-header">
                <h1>GLOWCLICK BELLEZA QUE BRILLA CONTIGO</h1>
                <div class="spacer"></div>
            </div>
        </header>

        <nav class="navbar">
            <ul class="nav-menu" id="menu">
                <li><a href="inicio.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="categorias.html">Categorías</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="carrito.html">Carrito</a></li>
                <li><a href="iniciarsesion.html">Iniciar sesión</a></li>
            </ul>
        </nav>
    </div>

    <main class="contenido-principal">
        <section class="caja">
            <h2>👥 Nosotros</h2>
            <p>En <strong>GLOWCLICK</strong> somos una tienda virtual de cosméticos creada para ofrecer productos de belleza de alta calidad y brindar una experiencia de compra sencilla y segura. Nos preocupamos por ofrecer variedad, 
                buena atención y productos que permitan a nuestros clientes encontrar lo que buscan. Nuestro objetivo es generar confianza y satisfacción en cada compra.</p>

                <p> <strong>Misión</strong></p>
                <p>Ofrecer una experiencia de compra en línea rápida, 
                accesible e intuitiva, conectando a nuestros clientes con productos de calidad a través de una plataforma web, confiable y segura.</p>

                <p> <strong>Visión</strong></p>
                <p>Posicionarnos como la tienda virtual preferida e innovadora en el sector de la belleza, destacándonos por la excelencia en el servicio al cliente,
                la optimización constante de nuestras tecnologías y la expansión de nuestro catálogo.</p>
        </section>
    </main>

    <footer class="pie">
        <p>&copy; 2026 GLOWCLICK - Todos los derechos reservados.</p>
    </footer>

</body>

</html>