<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLOWCLICK - Productos</title>
    <link rel="stylesheet" href="../../public/css/productos.css">
</head>

<body>

    <div class="header-fijo">
        <header class="encabezado">
            <div class="header-content">
                <img src="../../public/img/logo de GLOWCLICK NUEVO.png" alt="Logo de GLOWCLICK" class="logo-header" >
                <h1>GLOWCLICK BELLEZA QUE BRILLA CONTIGO</h1>
                <div class="spacer"></div>
            </div>
        </header>

        <nav class="navbar">
            <ul class="nav-menu" id="menu">
                <li><a href="inicio.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="categorias.html">Categorías</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="carrito.html">Carrito</a></li>
                <li><a href="iniciarsesion.html">Iniciar sesión</a></li>
            </ul>
        </nav>
    </div>

   <main class="contenido-principal">
  <section class="caja">
    <h2>💄 Productos que ofrece GLOWCLICK</h2>
    <div class="productos-container">
        <ul class="lista-productos">
    <li>💋 <strong>Labiales:</strong> diferentes tonos y acabados.</li>
    <li> <img class="img" src="../../public/img/labiales.jpg" alt="Labial" style="transition: transform 0.3s; cursor: pointer;"
     onmouseover="this.style.transform='scale(1.3)'"
     onmouseout="this.style.transform='scale(1)'"> </li>
    <li>🧴 <strong>Bases:</strong> para diferentes tipos y tonos de piel.</li>
    <li> <img class="img"  src="../../public/img/base.jpg" alt="Base" style="transition: transform 0.3s; cursor: pointer;"
     onmouseover="this.style.transform='scale(1.3)'"
     onmouseout="this.style.transform='scale(1)'"> </li>
    <li>👁️ <strong>Sombras de ojos:</strong> paletas con diferentes colores.</li>
    <li> <img class="img" src="../../public/img/sombras de ojos.jpg" alt="Sombra de ojos" style="transition: transform 0.3s; cursor: pointer;"
     onmouseover="this.style.transform='scale(1.3)'"
     onmouseout="this.style.transform='scale(1)'"> </li>
    <li>👀 <strong>Máscaras de pestañas:</strong> para dar volumen y definición.</li>
    <li> <img class="img" src="../../public/img/Máscaras de pestañas.jpg" alt="Máscara de pestañas" style="transition: transform 0.3s; cursor: pointer;"
     onmouseover="this.style.transform='scale(1.3)'"
     onmouseout="this.style.transform='scale(1)'"> </li>
    <li>🌸 <strong>Rubores:</strong> para darle color y luminosidad al rostro.</li>
    <li> <img class="img" src="../../public/img/Rubores.jpg" alt="Rubor" style="transition: transform 0.3s; cursor: pointer;"
     onmouseover="this.style.transform='scale(1.3)'"
     onmouseout="this.style.transform='scale(1)'"> </li>
    <li>✨ <strong>Iluminadores:</strong> para resaltar el rostro.</li>
    <li> <img class="img" src="../../public/img/Iluminadores.jpg" alt="Iluminador" style="transition: transform 0.3s; cursor: pointer;"
     onmouseover="this.style.transform='scale(1.3)'"
     onmouseout="this.style.transform='scale(1)'"> </li>
    <li>🧏‍♀️ <strong>Polvos compactos:</strong> para sellar el maquillaje.</li>
    <li> <img class="img" src="../../public/img/Polvos compactos.jpg" alt="Polvo compacto" style="transition: transform 0.3s; cursor: pointer;"
     onmouseover="this.style.transform='scale(1.3)'"
     onmouseout="this.style.transform='scale(1)'"> </li>
    <li>📦 <strong>Esponjas</strong>Es ideal para aplicar productos en crema como la base, dando un acabado mas natural. </li>
    <li> <img class="img" src="../../public/img/esponjas.jpg" alt="Esponja" style="transition: transform 0.3s; cursor: pointer;"
     onmouseover="this.style.transform='scale(1.3)'"
     onmouseout="this.style.transform='scale(1)'"> </li>
    <li> 📦 <strong>Brochas</strong> Son ideales para aplicar productos en polvo como el rubor, iluminador y sombras de ojos. </li>
    <li> <img class="img" src="../../public/img/brochas.jpg" alt="Brocha" style="transition: transform 0.3s; cursor: pointer;"
     onmouseover="this.style.transform='scale(1.3)'"
     onmouseout="this.style.transform='scale(1)'"> </li>
     <li>📦 <strong>Delineadores</strong> Son ideales para resaltar la mirada y definir los ojos. </li>
    <li> <img class="img" src="../../public/img/delineadores.jpg" alt="Delineador" style="transition: transform 0.3s; cursor: pointer;"
     onmouseover="this.style.transform='scale(1.3)'"
     onmouseout="this.style.transform='scale(1)'"> </li>
     <li>📦 <strong>Brillos</strong> Son ideales para dar brillo y definición a los labios. </li>
    <li> <img class="img" src="../../public/img/brillos.jpg" alt="Brillo" style="transition: transform 0.3s; cursor: pointer;"
     onmouseover="this.style.transform='scale(1.3)'"
     onmouseout="this.style.transform='scale(1)'"> </li>
    </ul>
    </div>
     
    
  </section>
</main>

    <footer class="pie">
        <p>&copy; 2026 GLOWCLICK - Todos los derechos reservados.</p>
    </footer>

</body>
<script src="../../public/js/menu.js"></script>
</html>