<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLOWCLICK - Servicios</title>
    <link rel="stylesheet" href="../../public/css/servicios.css">
</head>

<body>

    <div class="header-fijo">
        <header class="encabezado">
            <div class="header-content">
                <img src="../../public/img/logo de GLOWCLICK NUEVO.png" alt="Logo de GLOWCLICK" class="logo-header">
                <h1>GLOWCLICK BELLEZA QUE BRILLA CONTIGO</h1>
                <div class="spacer"></div>
            </div>
        </header>

        <nav class="navbar">
            <ul class="nav-menu" id="menu">
                <li><a href="inicio.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="categorias.html">Categorías</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="carrito.html">Carrito</a></li>
                <li><a href="iniciarsesion.html">Iniciar sesión</a></li>
            </ul>
        </nav>
    </div>

    <main class="contenido-principal">
  <section class="caja">
    <h2>👝 Servicios que ofrece GLOWCLICK</h2>

    <table class="tabla-servicios">
      <thead>
        <tr>
          <th>Servicio</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> 💄Venta de productos cosméticos</td>
          <td>Ofrecemos productos de belleza de alta calidad para resaltar tu estilo y personalidad.</td>
        </tr>
        <tr>
          <td>🛍️ Compra fácil y segura</td>
          <td>Nuestra plataforma permite realizar compras de manera rápida, sencilla y segura.</td>
        </tr>
        <tr>
          <td>🔎 Catálogo de productos</td>
          <td>Contamos con un catálogo completo con información, precios y categorías de los productos.</td>
        </tr>
        <tr>
          <td>📦 Consulta de disponibilidad</td>
          <td>Puedes verificar la disponibilidad de los productos antes de realizar tu compra.</td>
        </tr>
        <tr>
          <td>🛒 Gestión de pedidos y compras</td>
          <td>Ofrecemos un sistema para gestionar tus pedidos y compras de manera eficiente.</td>
        </tr>
        <tr>
          <td>👤 Iniciar sesión</td>
          <td>Permite acceder a tu cuenta para gestionar tu información y realizar compras.</td>
        </tr>
        <tr>
          <td>🔐 Compra segura</td>
          <td>Nuestra plataforma garantiza la protección de la información del cliente durante el proceso de compra.</td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
    <footer class="pie">
        <p>&copy; 2026 GLOWCLICK - Todos los derechos reservados.</p>
    </footer>

</body>

</html>

